{{ define "main" }}
<div class="post--list">
    <div class="hBlock--list">
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate ($pages) }}
        {{ range $paginator.Pages }}
        {{ if eq .Type "memo" }}
        {{ partial "memo.html" . }}
        {{ else }}
        {{ partial "post.html" . }}
        {{ end }}
        {{ end }}
    </div>
</div>
<nav class="navigation">
    <div class="nav-links">
        {{ partial "pagination.html" . }}
    </div>
</nav>
{{ end }}