[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hera"]
	path = themes/hera
	url = https://github.com/bigfa/hugo-theme-hera.git
[submodule "themes/shibui"]
	path = themes/shibui
	url = https://github.com/ntk148v/shibui.git
