[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hera"]
	path = themes/hera
	url = https://github.com/bigfa/hugo-theme-hera.git
