.hArticle {
    --hera-article-hero-font-size: 28px;

    @media screen and (max-width: 768px) {
        --hera-article-hero-font-size: 24px;
    }

    &--headline {
        font-size: var(--hera-article-hero-font-size);
        margin-top: 0;
        line-height: 1.3;
        margin-bottom: 0px;
        font-weight: bold;

        & + .hArticle--meta {
            margin-top: 10px;
        }
    }

    &--toc {
        background-color: var(--hera-background-gray-lightest);
        padding: 12px 15px;
        border-radius: 10px;
        font-size: var(--hera-text-size-small);
        margin-bottom: 15px;
        color: var(--hera-text-light);
        line-height: 1.4 !important;

        summary {
            cursor: pointer;
            margin-bottom: 5px;
        }

        ul {
            margin-bottom: 0 !important;
            padding-left: 10px !important;

            li {
                margin-bottom: 0 !important;
                margin-left: 20px !important;

                a {
                    color: inherit;
                }

                &::before {
                    padding-right: 6px !important;
                }
            }
        }

        a {
            box-shadow: none !important;
            text-decoration: none;

            &:hover {
                color: var(--hera-hover-color);
            }
        }
    }

    &--body {
        margin-bottom: 15px;
    }

    &--subtitle {
        font-size: 22px;
        color: var(--hera-text-gray-lightest);
        line-height: 1.2;
        margin-bottom: 10px;
    }

    &--meta {
        font-size: 14px;
        color: var(--hera-text-gray);
        line-height: 1.6;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }

        .author {
            display: flex;
            align-items: center;
            margin-right: 10px;
            color: var(--hera-text-color);
            --hera-article-avatar-size: 30px;

            &:hover {
                text-decoration: underline;
            }

            .avatar {
                width: var(--hera-article-avatar-size);
                height: var(--hera-article-avatar-size);
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }

    &--subline {
        font-size: 20px;
        color: var(--hera-text-gray-lightest);
        line-height: 1.3;
        margin-bottom: 5px;
    }

    &--header {
        margin-bottom: 15px;
        padding-top: 25px;

        @media screen and (max-width: 768px) {
            padding-top: 10px;
        }
    }

    &--tags {
        padding: 20px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            font-size: 14px;
            color: var(--hera-text-gray);
            margin-right: 5px;
            background-color: var(--hera-background-gray);
            padding: 3px 20px;
            border-radius: 999rem;
            &:hover {
                color: var(--hera-hover-color);
            }
        }
    }

    &--actions {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 0px;

        .button--like {
            color: var(--hera-text-gray);

            svg {
                fill: var(--hera-text-gray);
            }

            &:hover,
            &.is-active {
                svg {
                    fill: var(--hera-hover-color);
                }
            }
        }
    }

    &--share {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0 15px;
        font-size: 14px;
        color: var(--hera-text-gray);
        line-height: 1.2;

        .link {
            margin-left: 5px;
            border-bottom: 1px dotted;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        svg {
            height: 16px;
            width: 16px;
            fill: var(--hera-text-gray);
            margin-right: 4px;
            flex: 0 0 auto;
        }

        .text {
            flex: 0 0 auto;
        }
    }
}

.status--icon {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    svg {
        fill: var(--hera-main-color);
        height: 28px;
        width: 28px;
    }
}

.link2comment {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--hera-text-gray);
    margin-left: auto;

    svg {
        fill: var(--hera-text-gray);
        margin-right: 5px;
    }

    &:hover {
        color: var(--hera-hover-color);
    }
}

.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &.is-active {
        svg {
            fill: var(--hera-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--default {
        display: block;
    }
}

.status--archiveLink {
    padding: 10px 0;
    display: flex;
    a {
        background-color: var(--hera-background-gray-lightest);
        border-radius: 999rem;
        color: var(--hera-text-gray);
        padding: 10px 20px;
        line-height: 1.2;
        font-size: 14px;
        &:hover {
            color: var(--hera-hover-color);
            background-color: var(--hera-background-gray);
        }
    }
}

.translatedCard {
    margin-bottom: 20px;
    font-size: 14px;
    h4 {
        font-weight: 700;
    }

    ul {
        list-style: square;
        margin-left: 30px;
        li a {
            text-decoration: underline;
            &::hover {
                color: var(--hera-hover-color);
            }
        }
    }
}

.hMixtapeEmbed {
    display: flex;
    align-items: center;
    background-color: var(--hera-background-gray-lightest);
    border-radius: 5px;
    margin-bottom: 15px;

    .mixtapeImage {
        width: 120px;
        height: 120px;
        background-size: cover;
        flex: 0 0 auto;
        border-radius: 0 5px 5px 0;
        color: inherit;

        @media screen and (max-width: 768px) {
            width: 80px;
            height: 80px;
        }
    }

    .mixtapeContent {
        flex: 1 1 auto;
        padding: 0 20px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-shadow: none;
        color: var(--hera-text-light);

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }

        &:hover {
            color: inherit;
            box-shadow: none;
        }
    }

    .markup--strong {
        font-size: 16px;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    .markup--em {
        font-style: normal;
        color: var(--farallon-text-gray);
        line-height: 1.5;
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
