.link-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.link-item {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--hera-background-gray-lightest);

    .sitename {
        font-size: 12px;
        color: var(--hera-text-gray);
        display: flex;
        flex-direction: column;
        line-height: 1.5;

        strong {
            font-size: 16px;
            color: var(--hera-text-color);
            margin-bottom: 5px;
        }
    }

    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .btn {
        background-color: var(--hera-main-color);
        color: #fff;
        width: 40px;
        text-align: center;
        margin-top: 8px;
        font-style: normal;
        border-radius: 999rem;
        padding: 1px 4px;
    }

    &:hover {
        background-color: var(--hera-background-gray);
    }
}

.link-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 30px;
}

.link-description {
    font-size: 14px;
    color: var(--hera-text-gray);
}
