<article class="hBlock--item" data-id="{{ .File.UniqueID}}" itemtype="http://schema.org/Article" itemscope="itemscope">
    <h2 class="hBlock--title">
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ .Title }}
        </a>
    </h2>
    <div class="hBlock--addon">
        <div class="hBlock--content">
            <div class="hBlock--snippet">
                {{ .Summary | plainify | truncate 80 }}
            </div>
            <div class="hBlock--meta">
                {{ partial "time.html" . }}
                {{ if .Params.categories }}
                <span class="sep"></span>
                {{ range (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
                {{ end }}
                {{ end }}
                {{ if .Site.Params.post_view }}
                <span class="sep"></span>
                <span class="article--views"></span>
                {{ end }}
                <span class="sep"></span>
                {{ T "article.readingTime" .ReadingTime }}
            </div>
        </div>
        {{ if .Params.cover }}
        {{ with .Resources.Get .Params.cover }}
        {{ with .Fill "192x192 Center" }}
        <a href="{{ .Permalink }}" aria-label="{{ .Title }}" class="hBlock--cover"><img src="{{ .RelPermalink }}"
                alt="{{ .Title }}" class="hBlock--coverImage"></a>
        {{ end }}
        {{ end }}
        {{ else if .Content }}
        {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0 }} {{ $url
            :=(strings.TrimPrefix "<img src=\"" $url) }}
        {{ $url := strings.TrimRight " \"" $url }} <a href="{{ .Permalink }}" aria-label="{{ .Title }}"
            class="hBlock--cover"><img src="{{ $url }}" class="hBlock--coverImage" itemprop="image"
            alt="{{ .Title }}" /></a>
        {{ end }}
        {{ end }}
    </div>
</article>