{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<div class="hRelated--area">
    <h3 class="hRelated--heroTitle">{{ i18n "article.relatedContent" }}</h3>
    <div class="hRelated--list">
        {{ range . }}
        <div class="hRelated--item">
            <a class="hRelated--image" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
                {{ if .Params.cover }}
                {{ with .Resources.Get .Params.cover }}
                {{ with .Fill "808x404 Center" }}
                <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="cover">
                {{ end }}
                {{ end }}
                {{ else if .Content }}
                {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0 }} {{
                    $url :=(strings.TrimPrefix "<img src=\"" $url) }}
        {{ $url := strings.TrimRight " \"" $url }}<img src="{{ $url }}" class="cover" itemprop="image"
                    alt="{{ .Title }}" />
                {{ end }}
                {{ end }}
            </a>
            <div class="hRelated--title">
                <a href="{{ .RelPermalink }}" aria-label="{{ .Title }}">{{ .Title }} </a>
            </div>
            <div class="hRelated--meta">
                {{ partial "time.html" . }}
                <span class="sep"></span>
                {{ T "article.readingTime" .ReadingTime }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}