.hBlock {
    &--list {
        padding-top: 25px;
    }

    &--item {
        padding: 25px 0;
        position: relative;

        @media screen and (max-width: 768px) {
            padding: 12px 0;
        }

        &__status {
            background-color: var(--hera-background-gray-lightest);
            border-radius: 10px;
            padding: 20px;
            margin-top: 15px;
            margin-bottom: 15px;

            @media screen and (max-width: 768px) {
                padding: 12px;
            }
        }

        &__text {
            .hBlock--title {
                margin-bottom: 5px;
            }
        }
    }

    &--title {
        margin: 0 0 10px;
        line-height: 1.2;
        font-size: 22px;
        font-weight: 900;

        &:hover {
            color: var(--hera-hover-color);
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }

    &--snippet {
        font-size: 15px;
        line-height: 1.6;
        color: var(--hera-text-gray);
        max-height: 4.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media screen and (max-width: 768px) {
            font-size: 13px;
        }
    }

    &--addon {
        display: flex;
        align-items: flex-start;

        .meta {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }
    }

    &--cover {
        flex: 0 0 auto;
        margin-left: 15px;
        width: var(--hera-thumbnail-width);

        img {
            width: var(--hera-thumbnail-width);
            height: var(--hera-thumbnail-height);
            border-radius: 4px;
            object-fit: cover;
        }

        @media screen and (max-width: 768px) {
            margin-left: 10px;
            --hera-thumbnail-width: 72px;

            img {
                --hera-thumbnail-height: 72px;
            }
        }
    }

    &--meta {
        margin: 0;
        margin-top: 5px;
        display: flex;
        font-size: var(--hera-font-size-smallest);
        color: var(--hera-text-gray-lightest);

        a {
            &:hover {
                text-decoration: underline;
                color: var(--hera-text-color);
            }
        }

        .status--link {
            margin-left: auto;

            &:hover {
                svg {
                    fill: var(--hera-hover-color);
                }
            }
        }
    }

    &--content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &--images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 15px;
        padding: 15px 0 5px;
    }

    &--image {
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
    }
}

.sticky--post {
    display: flex;
    align-items: center;
    color: var(--hera-text-gray-lightest);
    font-size: 13px;
    user-select: none;
    margin-bottom: 3px;

    svg {
        margin-right: 8px;
    }
}
