.hBackTop {
    .svgIcon {
        width: 17px;
        height: 17px;
        fill: var(--hera-main-color);
        animation: toTop 1s ease-in infinite alternate;
    }

    &:hover {
        .svgIcon {
            fill: var(--hera-hover-color);
            animation-play-state: paused;
        }
    }

    z-index: 10;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 50px;
    right: -25px;
    cursor: pointer;

    &.is-active {
        right: 50px;
    }
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 50px;

    a {
        background-color: #000;
        color: var(--hera-color-white);
        padding: 8px 20px;
        font-size: 14px;
        border-radius: var(--hera-border-radius);
        line-height: 1.4;
    }
}

.hFooter {
    text-align: center;
    font-size: 14px;
    color: var(--hera-text-gray);
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &--content {
        text-align: center;
    }
}

.hThemeSwitcher {
    position: absolute;
    left: 0px;
    bottom: -5px;
    display: flex;
    height: max-content;
    background-color: var(--hera-background-gray-lightest);
    border-radius: 0 10px 0 10px;
    width: max-content;
    padding: 3px;

    span {
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--hera-text-gray-lightest);

        &:hover {
            color: var(--hera-text-color);
        }

        &.is-active {
            color: var(--hera-text-color);
            background-color: var(--hera-background-gray);
        }

        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}
