.hRelated {
    &--heroTitle {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &--list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding-bottom: 20px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &--snippet {
        line-height: 1.5;
        display: flex;
    }

    &--item {
        background-color: var(--hera-background-gray);
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        &:hover {
            background-color: var(--hera-background-gray-lightest);
        }

        &__status {
            font-size: 14px;
            background-color: var(--hera-background-gray);
            border-radius: 5px;
            padding: 12px;

            &:hover {
                background-color: var(--hera-background-gray-lightest);
            }

            a {
                color: var(--hera-text-gray);
                p {
                    line-height: 1.6;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .hRelated--meta {
                font-size: 12px;
                display: flex;
                align-items: center;
                margin-top: 8px;
                padding: 0;
                line-height: 1;
                flex-wrap: wrap;
            }
        }
    }

    &--image {
        display: flex;
        align-items: center;

        img {
            border-radius: 10px 10px 0 0;
            aspect-ratio: 2/1;
            object-fit: cover;
            width: 100%;
        }
    }

    &--title {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;

        &:hover {
            color: var(--hera-hover-color);
        }
    }

    &--meta {
        font-size: 12px;
        color: var(--hera-text-gray);
        line-height: 1;
        padding: 0 10px 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            &:hover {
                color: var(--hera-text-color);
                text-decoration: underline;
            }
        }
    }
}
