{{ define "main" }}

<div class="articleContainer">
    <div class="page--archive">
        {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range $pages.ByPublishDate.Reverse.GroupByDate "2006" }}
        <h2 class="archive--title__year">{{ .Key }}</h2>
        {{ range .Pages.ByPublishDate.Reverse.GroupByDate "January" }}
        <h3 class="archive--title__month">{{ .Key }}</h3>
        <ul class="archive--list">
            {{ range (.Pages ) }}
            <li class="archive--item">
                <div class="archive--title">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </div>
                <div class="archive--meta">
                    {{ partial "time.html" . }}
                    <span class="sep"></span>
                    {{ printf "%d 分钟阅读" .ReadingTime }}
                </div>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}