{{ define "main" }}

<div class="post--list">
    <header class="hTerm--header">
        <div class="hTerm--content">
            <h1 class="hTerm--title">{{.Title}}</h1>
        </div>
    </header>
    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    <div class="block--list">
        {{- range $index, $page := $paginator.Pages }}
        {{ if eq .Type "memo" }}
        {{ partial "memo.html" . }}
        {{ else }}
        {{ partial "post.html" . }}
        {{ end }}
        {{ end }}
    </div>
    <nav class="navigation ">
        <div class="nav-links">
            {{ partial "pagination.html" . }}
        </div>
    </nav>
</div>
{{ end }}