{{ define "main" }}
<div class="articleContainer">
    <header class="hTerm--header">
        <h2 class="hTerm--title">{{ .Title }}</h2>
    </header>
    <div class="archive--tagList">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <span class="archive--tagItem">
            <a href="{{ $value.Page.Permalink }}">
                {{ $value.Page.Title }} <span>({{ $value.Count }})</span>
            </a>
        </span>
        {{ end }}
    </div>
</div>
{{ end }}